.env
.env.local
.env.*.local
*.key
*.jks
.gradle/
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
pubspec.lock
.idea/
.vscode/
*.iml
*.xcworkspace/
xcuserdata/
DerivedData/
.DS_Store
Thumbs.db
